html{
  font-size: 62.5%;
}
.full-block{
  height: 100%;
  width: 100%;
}
.full-block .navigation-bar{
  height: 100%;
  width: 10%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  color:#848888;
  box-shadow: 0.3rem 0rem #F2F4F2;
}
.navigation-bar ul {
   list-style-type: none;
   padding-left: 0rem;
 }
.navigation-bar li{
  cursor: pointer;
}
.navigation-bar img{
  width: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height:3rem;
  vertical-align: middle;
  padding-left: 2.4rem;
}
.navigation-bar span{
  padding-left: 1rem;
  font-size: 1.5rem;
}
.navigation-bar .navigation-bar-icon{
  width:100%;
  background-color: #fff;
  font-size: 2rem ;
  padding-top: 1.5rem;
  color:#848888;
  padding-bottom: 1.5rem;
  cursor: pointer;
  text-align: center;
}
.navigation-bar i{
  margin-bottom: 1rem;
}
.navigation-bar .selected-icon{
  width:100%;
  background-color: #ececec;
  font-size: 2rem ;
  padding-top: 1.5rem;
  color:#3fb0ac;
  padding-bottom: 1.5rem;
  text-align: center;
}
.navigation-bar a,.selected-icon a{
  padding-top: .5rem;
  font-size: 2rem;
  display: block;
}
.navigation-bar .bg{
  background-color:#3fb0ac;
}
.navigation-bar .home{
   color:#848888;
   font-size:1.5rem;
   float:right;
   margin-left:1rem;
   font-weight: 500;
   font-family:Ubuntu;
}
.navigation-bar-icon a:hover,.selected-icon a:hover,.navigation-bar-icon:hover,.selected-icon:hover {
  background-color: #3fb0ac;
  color: #ffffff;
}
.full-block .topnav {
  overflow: hidden;
  width:90%;
  float:right;
  font-family:Ubuntu;
  box-shadow: 0rem 0.2rem #F2F4F2;
}
.topnav .search-container {
  float: left;
  margin-left: 2rem;
}

.topnav input[type=text] {
  padding: 0.6rem;
  margin-top: 0.8rem;
  font-size: 1.7rem;
  border: none;
  font-family:Ubuntu, FontAwesome;
  outline: none;
}

.topnav .search-container button {
  background-color: white;
  text-align: left;
  color: #afbbbb;
  border: 0rem;
  height: 5rem;
  float: left;
  outline: none;
  cursor: pointer;
}
.topnav i{
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #ccc;
}
.topnav .circleimage{
height: 3rem;
width: 3rem;
border-radius:50%;
float:right;
margin-top: 1rem;
cursor: pointer;
}
.topnav .username{
  color: #848888;
  font-size: 1.5rem;
  float:right;
  font-weight: lighter;
  margin-right: 1.5rem;
  padding-top: 1.5rem;
}
.topnav .badge {
  position:relative;
}

.topnav .badge[data]:after {
    content: "";
    position: absolute;
    top: 1.5rem;
    right: -0.2rem;
    font-size: 1.1rem;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 1.7rem;
    background: red;
    color: white;
    width: 0.9rem;
    height: 0.8rem;
    border-radius: 50%;
  }

.full-block .pagecontent{
    width: 90%;
    float: right;
    font-family:Ubuntu;
}
.full-block .pagecontent p{
    color: #afbbbb;
    font-size: 1.5rem;
}
.full-block .pagecontent span{
  color: #504e4e;
  font-size: 2.5rem;
}
.pagecontent .dashboard{
  color: black;
  margin-left: 2rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.pagecontent .option{
  padding-left: 2%;
  padding-right: 2%;
}
.option .box{
  width:31%;
  box-shadow: 0 0 0.1rem lightgrey;
  display: inline-flex;
  padding-left: 2rem;
}
.option .box-shadow{
  box-shadow: 0 0 0.2rem lightgrey !important;
}
.option .box i{
  vertical-align: middle;
  text-align: center;
  font-size: 5rem;
  color:#3fb0ac;
  padding-left: 2.5rem;
  padding-top: 3rem;
}
.option .box .arrow{
  text-align: center;
  font-size: 5rem;
  color: #efefef;
  float: right;
  cursor: pointer;
}
.option .box p {
  font-size: 1.5rem;
  color: #afbbbb;
}
.option .box .content{
  padding-left: 4rem;
  padding-right: 5rem;
  padding-top: 3rem;
}
.pagecontent .job-content{
  width:100%;
}
.job-content .job-body{
  width:48%;
  display: inline-block;
}
.job-body .header{
    width: auto;
    color: #444442;
    height: auto;
    font-size: large;
    margin-left: 2.2rem;
    margin-top: 1rem;
    box-shadow: 0 0 0.1rem lightgrey;
    font-family: Ubuntu;
    font-weight: normal;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
  .job-body .value-content{
    height: 50vh;
    overflow-y: scroll;
  }
  .job-body .value{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    width: auto;
    color: #444442;
    padding-top: 0.3rem;
    padding-left: 2rem;
    padding-bottom: 0.3rem;
    box-shadow: 0.1rem 0.1rem lightgrey;
}
.job-body .value span{
  font-size: large;
}
.job-content .right-body{
    width:48%;
    float: right;
    display: inline;
  }
  .right-body .header{
      width: auto;
      color: #444442;
      height: auto;
      font-size: large;
      margin-top: 1rem;
      box-shadow: 0 0 0.1rem lightgrey;
      font-family: Ubuntu;
      font-weight: normal;
      padding-top: 2rem;
      padding-left: 2rem;
      padding-bottom: 2rem;
    }
 .right-body .value{
   margin-top: 0.5rem;
   font-size: 1.5rem;
   width: auto;
   color: #444442;
   padding-top: 0.3rem;
   padding-left: 2rem;
   padding-bottom: 0.3rem;
 }
 .right-body .value span{
   font-size: large;
 }
 .right-body .value-content{
   margin-right: 2.2rem;
 }
 .value img{
   width:7.5rem;
   height: 5rem;
   vertical-align: top;
   margin-right: 1.5rem;
 }
 .value i{
    color:#afbbbb;
 }
.job-body .value button{
   background-color: transparent;
   border:0.05rem solid;
   border-color: #afbbbb;
   margin-top: 2rem;
   margin-right: 1rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   padding-right: 0.8rem;
   padding-left: 0.8rem;
   color: #afbbbb;
   font-family: Ubuntu;
   font-size: 1.5rem;
   width: auto;
   text-align: center;<br>
   text-decoration: none;
   border-radius:5rem;
   display: inline-block;
   outline: none;
   cursor: pointer;
 }.full-block .topnav {
  overflow: hidden;
  width:90%;
  float:right;
  font-family:Ubuntu;
  box-shadow: 0rem 0.2rem #F2F4F2;
}
.job-body .value button:hover{
   color: white;
   background-color: #3fb0ac;
 }
.job-body .right,.right-body .right{
   float: right;
   padding-right: 0.5rem;
 }
.right-body .article-body .header{
     width: auto;
     color: #444442;
     height: auto;
     font-size: large;
     margin-top: 0.5rem;
     box-shadow: 0 0 0.1rem lightgrey;
     font-family: Ubuntu;
     font-weight: normal;
     padding-top: 1.5rem;
     padding-left: 2rem;
   }
.right-body .article-body .value{
     margin-top: 1.5rem;
     font-size: 1.5rem;
     width: auto;
     color: #444442;
     padding-top: 0.3rem;
     padding-left: 2rem;
   }
.article-body .value .inline{
     display: inline-block;
   }
   ::-webkit-scrollbar {
       width: 0.7rem;
   }
   ::-webkit-scrollbar-track {
       -webkit-border-radius: 0.5rem;
       border-radius: 0.5rem;
   }

   ::-webkit-scrollbar-thumb {
       -webkit-border-radius: 0.5rem;
       border-radius: 0.5rem;
       background: lightgrey;
   }
   ::-webkit-scrollbar-thumb:window-inactive {
       background: lightgrey;
   }

   @media only screen and (min-width:321px) and (max-width:768px) {
     .full-block .navigation-bar{
       width: 100%;
       height: auto;
       position: fixed;
       background-color: #fff;
       overflow-x: hidden;
       color:#848888;
       box-shadow: 0.3rem 0rem #F2F4F2;
     }
     .navigation-bar ul {
        list-style-type: none;
        display: inline-block;
        padding-left: 0rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
      }
     .navigation-bar li{
       display: inline-block;
       cursor: pointer;
       padding-top: 1rem;
       padding-bottom: 1rem;

     }
     .navigation-bar img{
       width: 2.5rem;
       height:2.5rem;
       vertical-align: middle;
       padding-left: 2.4rem;
       margin-top: 0rem;
       margin-bottom: 0rem;
     }
     .navigation-bar span{
       padding-left: 1rem;
       font-size: 1.5rem;
       padding-right: 5rem;
     }
     .navigation-bar .navigation-bar-icon{
       background-color: #fff;
       font-size: 1rem ;
       color:#848888;
       cursor: pointer;
       text-align: center;
       display: inline;.navigation-bar
       margin-right: 0.1rem;
     }
     .navigation-bar i{
       margin-bottom: 0rem;
     }
     .navigation-bar .selected-icon{
       font-size: 1.3rem ;
       color:#3fb0ac;
       text-align: center;
       display: inline;
       margin-right: 0.1rem;
       background-color: white;
       padding-top: 1rem;
       border-top: 0.2rem solid #3fb0ac;
     }
     .navigation-bar a,.selected-icon a{
       padding-top: .5rem;
       font-size: 1.3rem;
       display: inline;
     }
     .navigation-bar .bg{
       background-color:#3fb0.navigation-barac;
     }
     .navigation-bar .home{
        color:#848888;
        font-size:1.5rem;
        float:right;
        margin-left:1rem;
        font-weight: 500;
        font-family:Ubuntu;
     }
     .navigation-bar-icon a:hover,.selected-icon a:hover,.navigation-bar-icon:hover,.selected-icon:hover {
       background-color: #3fb0ac;
       color: #ffffff;
     }
     .full-block .topnav {
       overflow: hidden;
       width:100%;
       font-family:Ubuntu;
       box-shadow: 0rem 0.2rem #F2F4F2;
     }
   }
   @media only screen and (max-width: 1000px) {
     .option .box{
       display: block;
     }
   }
